UNKNOWN {
	FONT-WEIGHT: 400; FONT-SIZE: 10.3pt; COLOR: #666666; LINE-HEIGHT: 8.5pt; FONT-STYLE: normal; FONT-FAMILY: verdana,sanserif; TEXT-ALIGN: left
}
.generalfont1 {
	FONT-WEIGHT: 400; FONT-SIZE: 9.5pt; COLOR: #666666; LINE-HEIGHT: 10.6pt; FONT-STYLE: normal; FONT-FAMILY: verdana, sanserif
}
.bottomlinks {
	FONT: 700 8.5pt verdana, sanserif; VERTICAL-ALIGN: baseline; COLOR: #728479; TEXT-ALIGN: left
}
