    body {
      scrollbar-face-color: #ffffff;
      scrollbar-shadow-color: #00cc99;
      scrollbar-highlight-color: #6699cc;
      scrollbar-3dlight-color: #6699cc;
      scrollbar-darkshadow-color: #00cc99;
      scrollbar-track-color: #ffffff;
      scrollbar-arrow-color: #00cc99; 
      }