BODY {
	BACKGROUND-COLOR: #ffffff
}
BODY {
	FONT-SIZE: 11px; FONT-FAMILY: verdana, arial, sans-serif
}
TD {
	FONT-SIZE: 11px; FONT-FAMILY: verdana, arial, sans-serif
}
.bg {
	BACKGROUND-COLOR: #a0bedc
}
.black {
	BACKGROUND-COLOR: #000000
}
.white {
	BACKGROUND-COLOR: #ffffff
}
.red {
	BACKGROUND-COLOR: #cc0000
}
.beige {
	BACKGROUND-COLOR: #e1e1b8
}
.lightblue {
	BACKGROUND-COLOR: #84b6f0
}
.blue {
	BACKGROUND-COLOR: #3973ad
}
.darkblue {
	BACKGROUND-COLOR: #003366
}
.grey {
	BACKGROUND-COLOR: #e4e4e4
}
.basebg {
	BACKGROUND-COLOR: #0077b0
}
.footerlinkstext {
	COLOR: #444444
}
.smallblack {
	COLOR: #444444
}
.smallblackbold {
	COLOR: #444444
}
.medblack {
	COLOR: #444444
}
.medblackbold {
	COLOR: #444444
}
.xxlblack {
	COLOR: #444444
}
.xxlblackbold {
	COLOR: #444444
}
.mainnavnolink {
	COLOR: #444444
}
.whiteText {
	COLOR: #ffffff
}
.channel {
	COLOR: #ffffff
}
.smallwhite {
	COLOR: #ffffff
}
.smallwhitebold {
	COLOR: #ffffff
}
.medwhite {
	COLOR: #ffffff
}
.medwhitebold {
	COLOR: #ffffff
}
A.smwhite:link {
	COLOR: #ffffff
}
A.smwhite:visited {
	COLOR: #ffffff
}
.xxlwhite {
	COLOR: #ffffff
}
.xxlwhitebold {
	COLOR: #ffffff
}
.error {
	COLOR: #ff0000
}
.smallred {
	COLOR: #ff0000
}
.smallredbold {
	COLOR: #ff0000
}
.medred {
	COLOR: #ff0000
}
.medredbold {
	COLOR: #ff0000
}
.xxlred {
	COLOR: #ff0000
}
.xxlredbold {
	COLOR: #ff0000
}
.smallgold {
	COLOR: #ffcc33
}
.smallgoldbold {
	COLOR: #ffcc33
}
.medgold {
	COLOR: #ffcc33
}
.medgoldbold {
	COLOR: #ffcc33
}
.xxlgold {
	COLOR: #ffcc33
}
.xxlgoldbold {
	COLOR: #ffcc33
}
.emphasize {
	COLOR: #006699
}
.mainnavlink {
	COLOR: #003366
}
UNKNOWN {
	FONT-SIZE: 9px
}
.footerlinkstext {
	FONT-SIZE: 10px
}
.smallblack {
	FONT-SIZE: 10px
}
.smallwhite {
	FONT-SIZE: 10px
}
.smallred {
	FONT-SIZE: 10px
}
.smallgold {
	FONT-SIZE: 10px
}
A.smwhite:link {
	FONT-SIZE: 10px
}
A.smwhite:visited {
	FONT-SIZE: 10px
}
A.smwhite:link {
	FONT-SIZE: 10px
}
A.smwhite:visited {
	FONT-SIZE: 10px
}
.mainnavnolink {
	FONT-SIZE: 10px
}
.mainnavlink {
	FONT-SIZE: 10px
}
.smallblackbold {
	FONT-SIZE: 11px
}
.smallwhitebold {
	FONT-SIZE: 11px
}
.smallredbold {
	FONT-SIZE: 11px
}
.smallgoldbold {
	FONT-SIZE: 11px
}
.whiteText {
	FONT-SIZE: 11px
}
.channel {
	FONT-SIZE: 11px
}
.medblack {
	FONT-SIZE: 13px
}
.medwhite {
	FONT-SIZE: 13px
}
.medred {
	FONT-SIZE: 13px
}
.medgold {
	FONT-SIZE: 13px
}
.medblackbold {
	FONT-SIZE: 14px
}
.medwhitebold {
	FONT-SIZE: 14px
}
.medredbold {
	FONT-SIZE: 14px
}
.medgoldbold {
	FONT-SIZE: 14px
}
.pageTitles {
	FONT-SIZE: 14px
}
.xxlblack {
	FONT-SIZE: 16px
}
.xxlwhite {
	FONT-SIZE: 16px
}
.xxlred {
	FONT-SIZE: 16px
}
.xxlgold {
	FONT-SIZE: 16px
}
.xxlblackbold {
	FONT-SIZE: 20px
}
.xxlwhitebold {
	FONT-SIZE: 20px
}
.xxlredbold {
	FONT-SIZE: 20px
}
.xxlgoldbold {
	FONT-SIZE: 20px
}
.bold {
	FONT-WEIGHT: bold
}
.smallblackbold {
	FONT-WEIGHT: bold
}
.medblackbold {
	FONT-WEIGHT: bold
}
.xxlblackbold {
	FONT-WEIGHT: bold
}
.xxlgoldbold {
	FONT-WEIGHT: bold
}
.smwhitebold {
	FONT-WEIGHT: bold
}
.medwhitebold {
	FONT-WEIGHT: bold
}
.lgwhitebold {
	FONT-WEIGHT: bold
}
.xxlgwhitebold {
	FONT-WEIGHT: bold
}
.smorangebold {
	FONT-WEIGHT: bold
}
.medsub1bold {
	FONT-WEIGHT: bold
}
.lgsub1bold {
	FONT-WEIGHT: bold
}
.xxlgsub1bold {
	FONT-WEIGHT: bold
}
.smredbold {
	FONT-WEIGHT: bold
}
.medredbold {
	FONT-WEIGHT: bold
}
.lgredbold {
	FONT-WEIGHT: bold
}
.errortxtbold {
	FONT-WEIGHT: bold
}
.medheader {
	FONT-WEIGHT: bold
}
.lgheader {
	FONT-WEIGHT: bold
}
.smdarkbluebold {
	FONT-WEIGHT: bold
}
.smbriteredbold {
	FONT-WEIGHT: bold
}
.smnumberstxt {
	FONT-WEIGHT: bold
}
.hpsmlink {
	FONT-WEIGHT: bold
}
.meddarkbluebold {
	FONT-WEIGHT: bold
}
.medheader {
	FONT-WEIGHT: bold
}
.medbluebold2 {
	FONT-WEIGHT: bold
}
.medgreenbold {
	FONT-WEIGHT: bold
}
.numberstxt {
	FONT-WEIGHT: bold
}
.smgoldbold {
	FONT-WEIGHT: bold
}
.medgoldbold {
	FONT-WEIGHT: bold
}
.lgdarkbluebold {
	FONT-WEIGHT: bold
}
.lgheader {
	FONT-WEIGHT: bold
}
.xxlgdarkbluebold {
	FONT-WEIGHT: bold
}
.xxlgdarkbluebold {
	FONT-WEIGHT: bold
}
A.hpsmlink {
	FONT-WEIGHT: bold
}
A.smblackbold {
	FONT-WEIGHT: bold
}
.buttonstyle {
	FONT-WEIGHT: bold
}
.step2bluebold {
	FONT-WEIGHT: bold
}
.partnerhdr {
	FONT-WEIGHT: bold
}
.lgpartner {
	FONT-WEIGHT: bold
}
.medpartner {
	FONT-WEIGHT: bold
}
.smpartner {
	FONT-WEIGHT: bold
}
.mainnavlink {
	TEXT-DECORATION: none
}
A.noline:link {
	TEXT-DECORATION: none
}
A.noline:visited {
	TEXT-DECORATION: none
}
A.smblack2 {
	TEXT-DECORATION: none
}
A.copyrighttxt2 {
	TEXT-DECORATION: none
}
A.smwhite:link {
	TEXT-DECORATION: none
}
A.smwhite:visited {
	TEXT-DECORATION: none
}
SELECT {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: none
}
.buttons {
	BORDER-RIGHT: #990000 1px ridge; BORDER-TOP: #cccccc 2px ridge; FONT-WEIGHT: normal; FONT-SIZE: 9pt; VERTICAL-ALIGN: middle; BORDER-LEFT: #cccccc 2px ridge; COLOR: #ffffff; BORDER-BOTTOM: #990000 1px ridge; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #666666; TEXT-ALIGN: left
}
.txtstyle {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 8pt; BORDER-LEFT: #999999 1px solid; COLOR: #000000; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Tahoma, Arial, Verdana
}
.selectcombo {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.boxtables {
	BORDER-RIGHT: #999999 1px; PADDING-RIGHT: 5px; BORDER-TOP: #999999 1px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #999999 1px; PADDING-TOP: 5px; BORDER-BOTTOM: #999999 1px; BACKGROUND-COLOR: #fffff4
}
.boxtabletopbg {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #0077b0
}
.emphasize {
	FONT-WEIGHT: lighter; FONT-SIZE: 14pt; COLOR: #006699; FONT-STYLE: italic
}
.redbold {
	FONT-WEIGHT: bold; COLOR: #cc3300
}
.helpwindow {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-COLOR: #dddddd
}
.cellborders {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
.domsearchresult {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #006699; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.help {
	COLOR: #ffffff
}
.searchresultstable {
	BORDER-RIGHT: #999999 thin solid; BORDER-TOP: #999999 thin solid; BORDER-LEFT: #999999 thin solid; COLOR: #000000; BORDER-BOTTOM: #999999 thin solid; BACKGROUND-COLOR: #ffffea
}
.processbuttons {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Verdana; BACKGROUND-COLOR: #ffcc00
}
